{
	"extends": "stylelint-config-standard",
	"plugins": [
		"stylelint-scss"
	],
	"rules": {
		"declaration-block-trailing-semicolon": null,
		"no-descending-specificity": null,
		"no-empty-source": null,
		"selector-type-no-unknown": null,
		"selector-pseudo-element-no-unknown": null
	}
}